<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout"><button type="button">Logout</button></a>
    <div>hello <%= user.name  %></div>
  <form action="/post" method="post">

    <textarea name="text" id="text" ></textarea>
    <button type="submit">Post</button>
  </form>
<% p.reverse().forEach((e)=>{ %>

  <div>
    
    <span><%= e.userId.email %></span>
    <p><%=e.post %></p>
  </div>
  <%let a=e.like.length%>
  <%= a %>
  <a href="/like/<%=e._id %>"><button>like</button></a>
  <% if (e.userId.email==user.email){%>

    <button> Edit</button>
    <a href="/delete/<%= e._id %>"><button>delete</button></a>
 <% } %>
  
  <%  }) %>
</body>
</html>